*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #D9D9D9;
    animation: aparecer2 0.8s forwards;
}

header{
    background-color: #602828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
}

.logo{
    margin-right: auto;
    height: 75px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.profile{
    margin-left: auto;
    height: 60px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.arrow{
    height: 20px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
}

header a{
    font-size: 700;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 40px;
    transition: all 0.2s;
}

header a:hover{
    transform: scale(2,2);
    color: rgb(4, 170, 54);
}

header img:hover{
    transform: scale(1.2,1.2);
}

.dashboard{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 250px;
}

.stat{
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.stat p{
    text-align: center;
    margin-top: 20px;
}

.stat h2{
    text-align: center;
    margin-bottom: 20px;
}

.containerGraph{
    width: 300px;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.bar{
    height: 100%;
    background-color: #4caf50;
    width: 60%;
    transition: width 0.5s ease;
}

.percentaje{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

@keyframes aparecer2 {
    0%{opacity: 0;  }
    100%{opacity: 1; }
}